---
import { getPostBySlug } from "./posts";
const post = getPostBySlug("purchasing-engagement-with-gacha-mechanics")!;
import "../../styles/blog.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{post.title} - XAAANE</title>
		<meta name="description" content={post.tldr} />
		<meta property="og:title" content={post.title} />
		<meta property="og:description" content={post.tldr} />
		<meta property="og:image" content="/xaaane-og.png" />
		<link rel="icon" type="image/png" href="/flavicon.png" />
		<style>
			/* Unique styles for this post */
			.post-content .image-container {
				position: relative;
				/* height: 400px; */
				object-fit: contain;
				margin: 40px 0;
			}
			.solo-image {
				position: relative;
				display: block;
				width: 100%;
				max-width: 768px;
				margin: 20px auto 40px auto;
			}
			.solo {
				position: relative;
				width: auto;
			}
			.solo::after {
				content: "my sick gacha gundams";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 20px;
				background: rgba(0, 0, 0, 0.5);
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<article>
				<header class="post-header">
					<h1>{post.title}</h1>
					<div class="post-meta"></div>
				</header>

				<div class="post-content">
					<p class="tldr-parent" style="font-weight:bold; font-size:24px;">
						<span class="tldr">tl;dr</span> - {post.tldr}
					</p>
					<p>
						Companies are getting wise to the power of gambling. They put
						something in a box and, who knows, it could be the one you want.
						Most people think "neat, how fun", while others scalp for unboxing
						content. They buy a fat stack of nee-dohs, live stream the unboxing,
						and the products sit in the closet for 20 years. The product's
						initial purpose shifts from being a toy, to generating engagement.
					</p>
					<p>
						Gachafication isn't new - card packs, video games, ordering off a
						menu you can't read. It's the gamble, the hope, the exciting victory
						of pure luck. I've been cranking coin slots since I was a kid,
						fingers crossed I got that sick looking gundam. My japanese teacher
						told me they're called "gachas" because the machines make a "ga-cha"
						sound when used. If you've never seen a gacha, they work like
						gumball machines.
					</p>
					<p>
						Now companies can bank on pushing products solely for the purpose of
						driving engagement for themselves, and for their customers. This
						creates a vicious fad cycle of supply and demand, especially on
						social media echo chambers. I expect to see Tesla dropping mystery
						wraps soon.
					</p>
					<div class="solo">
						<img class="solo-image" src="/blog-images/sick-gacha-gundams.jpg" />
					</div>

					<h2 class="xoxo">xoxo</h2>
				</div>
			</article>
		</div>

		<div class="back-link">
			<a href="/blog">← Back to Blog</a>
		</div>
	</body>
</html>
