---
import dickinsonWireframe from "../assets/dickinson-wireframe.png";
import dickinsonColor from "../assets/dickinson.jpg";
import academyWireframe from "../assets/academy-wireframe.png";
import academyColor from "../assets/academy.jpg";
import tbtbWireframe from "../assets/tbtb-wireframe.png";
import tbtbColor from "../assets/tbtb-color.jpg";
import sageWireframe from "../assets/sage-valley-wireframe.png";
import sageColor from "../assets/sage-valley-color.jpg";
import fieldWireframe from "../assets/field-botanicals-wireframe.png";
import fieldColor from "../assets/field-botanicals-color.jpg";
import seaWireframe from "../assets/sea-island-wireframe.png";
import seaColor from "../assets/sea-island-color.jpg";
import georgiaWireframe from "../assets/georgia-lake-country-wireframe.png";
import georgiaColor from "../assets/georgia-lake-country.jpg";
import dataWireframe from "../assets/data-wireframe.png";
import dataColor from "../assets/data.jpg";
import monikerWireframe from "../assets/moniker-wireframe.png";
import monikerColor from "../assets/moniker.jpg";
import kendrickWireframe from "../assets/kendrick-body-shop-wireframe.png";
import kendrickColor from "../assets/kendrick-body-shop-color.jpg";
---

<div class="work">
	<a href="https://dickinsonarchitects.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={dickinsonWireframe}
				alt="dickinson website wireframe"
			/>
			<img
				class="color-site"
				src={dickinsonColor}
				alt="dickinson website color"
			/>
			<p>Dickinson Architects</p>
		</div>
	</a>
	<a href="https://turnbacktheblock.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={tbtbWireframe}
				alt="turn back the block website wireframe"
			/>
			<img
				class="color-site"
				src={tbtbColor}
				alt="turn back the block website color"
			/>
			<p>Turn Back The Block</p>
		</div>
	</a>
	<a href="https://academyartmuseum.org/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={academyWireframe}
				alt="academy art website wireframe"
			/>
			<img
				class="color-site"
				src={academyColor}
				alt="academy art website color"
			/>
			<p>Academy Art</p>
		</div>
	</a>
	<a href="https://sagevalleygolf.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={sageWireframe}
				alt="sage valley website wireframe"
			/>
			<img class="color-site" src={sageColor} alt="sage valley website color" />
			<p>Sage Valley</p>
		</div>
	</a>
	<a href="https://fieldbotanicals.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={fieldWireframe}
				alt="field botanicals website wireframe"
			/>
			<img
				class="color-site"
				src={fieldColor}
				alt="field botanicals website color"
			/>
			<p>Field Botanicals</p>
		</div>
	</a>
	<a href="https://seaislandservices.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={seaWireframe}
				alt="sea island website wireframe"
			/>
			<img class="color-site" src={seaColor} alt="sea island website color" />
			<p>Sea Island</p>
		</div>
	</a>
	<a href="https://galakecountry.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={georgiaWireframe}
				alt="goergia lake country website wireframe"
			/>
			<img
				class="color-site"
				src={georgiaColor}
				alt="georgia lake country website color"
			/>
			<p>Lake Country</p>
		</div>
	</a>
	<a
		href="https://www.augustadatastorage.com/"
		target="_blank"
		rel="noreferrer"
	>
		<div class="work-item">
			<img
				class="wireframe-site"
				src={dataWireframe}
				alt="augusta data storage website wireframe"
			/>
			<img
				class="color-site"
				src={dataColor}
				alt="augusta data storage color"
			/>
			<p>Data Storage</p>
		</div>
	</a>
	<a href="https://meetmoniker.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={monikerWireframe}
				alt="moniker website wireframe"
			/>
			<img class="color-site" src={monikerColor} alt="moniker website color" />
			<p>Moniker</p>
		</div>
	</a>
	<a href="https://kendrickbodyshop.com/" target="_blank" rel="noreferrer">
		<div class="work-item">
			<img
				class="wireframe-site"
				src={kendrickWireframe}
				alt="kendrick body shop website wireframe"
			/>
			<img
				class="color-site"
				src={kendrickColor}
				alt="kendrick body shop website color"
			/>
			<p>Kendrick</p>
		</div>
	</a>
</div>
