---
import griptape from "../assets/griptape.gif";
import xaaane from "../assets/xaaane.png";
import searching from "../assets/searching.gif";
import later from "../assets/later.gif";
import shutdown from "../assets/shutdown.gif";
import warping from "../assets/warping.gif";
import handy from "../assets/handy.gif";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/flavicon.png" />
		<title>XAAANE @ 10x DEV</title>
		<meta name="description" content="my portfolio site" />
		<meta
			name="keywords"
			content="xane, xaaane, zain, mcintire, website, web, site, jamstack, full-stack, react, seo, hosting, full, stack, developer, designer, augusta, ga, georgia, sc, south carolina, cms, content, management, system"
		/>
		<meta property="og:title" content="XAAANE @ 10x DEV" />
		<meta property="og:description" content="my portfolio site" />
		<meta property="og:image" content="/xaaane-og.png" />
		<meta property="og:url" content="https://xaaane.com/" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
		/>
		<!-- <ViewTransitions /> -->
	</head>
	<body style={`background-image: url(${griptape});`}>
		<div id="circle"></div>
		<div class="container">
			<div class="header">
				<div id="name" class="scaled">
					<div id="ico">
						<a href="/3d/">3D Work</a>
					</div>
					<div class="text">
						<h1>XAAANE</h1>
						<p>full-stack web developer</p>
						<a href="mailto:web@xaaane.com">web@xaaane.com</a>
					</div>
				</div>
				<div id="profile" class="scaled">
					<div class="cube">
						<div class="face front" style={`background-image: url(${xaaane});`}>
						</div>
						<div
							class="face back"
							style={`background-image: url(${searching});`}
						>
						</div>
						<div class="face right" style={`background-image: url(${later});`}>
						</div>
						<div
							class="face left"
							style={`background-image: url(${shutdown});`}
						>
						</div>
						<div class="face top" style={`background-image: url(${warping});`}>
						</div>
						<div class="face bottom" style={`background-image: url(${handy});`}>
						</div>
					</div>
					<marquee scrollamount="3px" behavior="alternate">
						<p>
							bug boy | leftover spaghetti | ぜいん | creating | #bfff00 |
							red-slime | 3D | dragonfly | grip tape | blue shift | loving
						</p>
					</marquee>
					<div class="marquee">
						<p>
							bug boy | leftover spaghetti | ぜいん | creating | #bfff00 |
							red-slime | 3D | dragonfly | grip tape | blue shift | loving
						</p>
					</div>
				</div>
			</div>
			<slot />
		</div>
		<script is:inline src="https://threejs.org/build/three.js"></script>
		<script>
			import "../scripts/check.js";
			import "../scripts/cursor.js";
			import "../scripts/iso.js";
		</script>
	</body>
</html>
